* {
	font-family:"微软雅黑","Arial","Helvetica","sans-serif";
}

body {
	width:60%;
	margin-left:20%;
	overflow:auto;
}

#title {
	font-size:25;
	border-bottom:solid 1px lightgrey;
}

#main {
	font-size:15;
	border-bottom:solid 1px lightgrey;
}

#commet {
	text-align:center;
}
