---
layout: category 
title: 所有文章
---
<h3>所有文章</h3>
<ul>
{% for post in site.posts %}
    {% unless post.next %}
	<h4>{{ post.date | date:'%Y' }}</h4>
    {% else %}
	{% capture year %}{{ post.date | date:'%Y' }}{% endcapture %}
	{% capture nYear %}{{ post.next.date | date:'%Y' }}{% endcapture %}
	{% if year != nYear %}
	    <h4>{{ post.date | date:'%Y'}}</h4>
	{% endif %}
    {% endunless %}
    <li>{{ post.date | date:"%m-%d" }}&rArr;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
